<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/jd2</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pass</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="by.itacademy.pinchuk.jd2.database.entity.Tag"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.User"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.Editor"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.Administrator"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.Content"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.ContentType"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.Category"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.CategoryTranslation"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.Comment"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.ExtraField"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.ExtraFieldType"/>
        <mapping class="by.itacademy.pinchuk.jd2.database.entity.ContentTranslation"/>

    </session-factory>
</hibernate-configuration>
